$Grey950: #08070b;
$Grey900: #14131b;
$Grey850: #18171f;
$Grey800: #24232c;
$Grey700: #54535b;
$Grey600: #817d92;
$Grey200: #e6e5ea;
$Green200: #a4ffaf;
$Yellow300: #f8cd65;
$Orange400: #fb7c58;
$Red500: #f64a4a;
$Gradient1: #14131b;
$White: #ffffff;
$Black: #000000;
